# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
.env/
.envrc

#Docs
Docs/
rl_rnn_core.egg-info/

# PyCharm / IntelliJ
.idea/
*.iml

# Logs and databases
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Test outputs
.coverage
htmlcov/
